small {
  opacity: .6;
}

// .text-muted{
//   opacity: .6;
// }
// .clear{
//   display: block;
//   overflow: hidden;
// }
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// .y-center{
//   display: flex;
//   align-items: center;
// }
.block {
  display: block;
}

.inline {
  display: inline;
}

.none {
  display: none;
}

.b-white {
  border-color: #ffffff;
}

.w-full {
  width: 100%;
}

.w-auto {
  width: auto;
}

.h-auto {
  height: auto;
}

.h-full {
  height: 100%;
}

.h-v {
  height: 100vh;
}

.h-v-5 {
  height: 50vh;
}


.pull-right {
  float: right;
}

.w-40 {
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
}

.content-border {
  color: black;
}

.ant-card-body {
  padding: 0;
}

.ant-card {
  border-radius: 8px !important;
  max-width: 350px;
}

.investment-content-img {
  height: 200px;
  border-radius: 8px 8px 0 0;
}

.filter-button {
  float: right;
  color: black !important;
  background: white !important;
  border: none !important;
  margin-right: 15px;
}

.title-span {
  margin-left: 20px;
}

.title-spanA {
  color: rgb(99, 167, 231);
}

.portfolio-body {
  display: flex;
  flex-wrap: wrap;
}

.Pagination-body {
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.content-map {
  display: flex;
  justify-content: space-between;
}

.home-img {
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0 0;
}

.map-center {
  display: flex;
  flex-wrap: wrap;
}

.map-img {
  width: 40px;
  height: 40px;
}

.map-ul li {
  list-style: none;
}

.h2-title {
  font-size: 22px;
  color: black;
  font-weight: bold;
}

.span-title {
  font-weight: 300;
  margin-left: 10px;
}

.title-content2 {
  color: gray;
}

.bottom-content {
  padding-left: 10px;
  min-height: 205px;
}

.go-icon {
  color: rgb(219, 215, 215);
  margin: auto 0;
  margin-right: 20px;
  font-size: 20px;
}

.content-title {
  font-weight: bold;
}

.li-1 {
  font-weight: bold;
}

.li-2 {
  color: gray;
}

.mannay-div {
  display: flex;
  justify-content: space-between;
  color: gray;
  padding-right: 10px;
  margin-top: 10px;
}

.lick-icon {
  width: 40px;
  height: 40px;
  font-size: 25px;
  text-align: center;
  line-height: 42px;
  border-radius: 50%;
  color: white;
  background: rgb(65, 36, 170);
  position: absolute;
  right: 25px;
  top: 178px;
}

.bottom-div {
  width: 100%;
  height: 5px;
  background: rgb(206, 204, 204);
  position: relative;
  left: 0;
  bottom: 0;
  border-radius: 0 0 8px 8px;
}

.bottom {
  width: 70%;
  height: 5px;
  background: linear-gradient(to right, rgb(235, 160, 91), rgb(77, 191, 219));
  border-radius: 0 0 0 8px;
}

#root {
  background: rgb(240, 242, 245);
}

.portfolio-title {
  width: 100%;
  border: solid 1px;
}

.ant-row {
  max-width: 1200px;
}

.bread-crumbs {
  margin-left: 20px;
}

.right-content {
  min-width: 1100px;
  margin-left: 20px;
  background: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.right-content-right {
  width: 600px;
  height: 350px;
  overflow: hidden;
  border-radius: 8px;
}

.right-content-right img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.slick-dots {
  bottom: 56px !important;
}

.slick-dots li button:before {
  color: black !important;
  opacity: .50;
}

.slick-dots li.slick-active button:before {
  color: white !important;
}

.right-content-h2 {
  font-weight: bold;
}

.right-content-left {
  width: 400px;
}

.right-content-title {
  color: gray;
  font-weight: bold;
}

.months {
  border: solid 1px darkgray;
  width: 40%;
  border-radius: 8px;
  padding-left: 10px;
  color: black;
}

.right-months-p1 {
  font-size: 25px;
  font-weight: bold;
  height: 15px;
}

.right-months-p2 {
  font-size: 12px;
  height: 14px;
}

.portfolio-mannay-div {
  display: flex;
  justify-content: space-between;
  color: black;
  padding-right: 10px;
  margin-top: 10px;
}

.portfolio-bottom-div {
  width: 100%;
  height: 5px;
  background: rgb(206, 204, 204);
  position: relative;
  left: 0;
  bottom: 0;
}

.portfolio-bottom {
  margin-top: 10px;
  width: 50%;
  height: 5px;
  background: linear-gradient(to right, rgb(235, 160, 91), rgb(77, 191, 219));
}

.new-title {
  margin-top: 40px;
  font-weight: bold;
}

.new-content {
  color: black;
}

.invest-button {
  width: 250px;
  height: 40px;
  background: rgb(58, 19, 197) !important;
  color: white;
  font-weight: bold;
  border: none;
}

.invest-button:hover {
  background: rgb(58, 19, 197) !important;
}

.ant-btn-primary:active,
.ant-btn-primary.active {
  background: rgb(58, 19, 197) !important;
}

.content-2-body {
  margin-left: 20px;
  background: white;
  padding: 20px;
}

.content-2 {
  width: 70%;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 20px;

}

.content-2-scroll {
  width: 30%;
}

.content-2-scroll-title {
  color: black;
  font-weight: bold;
}

.content-2-scroll-money {
  color: #3a13c5;
  font-size: 25px;
}

.content2-display {
  width: 100%;
  background: rgba(177, 174, 174, 0.2);
  border-radius: 4px;
  display: flex;
  padding: 20px;
  padding-bottom: 10px;
}

.content-2-list {
  min-width: 150px;
  font-weight: bold;
}

.content-2-list p {
  color: gray;
  font-size: 14px;
  font-weight: 400;
  margin-top: 5px;
}

.ant-slider-track {
  background-color: #3a13c5;
}

.ant-slider-track:hover {
  background-color: #3a13c5 !important;
}

.ant-slider-handle {
  border: white 1px !important;
  box-shadow: 0px 0px 5px 1px #3a13c5;
}

.ant-slider-step {
  background: #3a13c5;
  opacity: 0.2;
}

.content3-echart {
  margin-top: 20px;
  display: flex;
  padding-bottom: 50px;
  border-bottom: 2px rgb(230, 227, 227) solid;
}

.content3-left {
  width: 50%;
}

.content3-right {
  width: 50%;
}

.content3-echart-h2 {
  font-weight: bold;
}

.content3-echart-p1 {
  font-weight: bold;
  font-size: 18px;
  color: black;
  margin-top: 10px;
}

.content3-echart-cnt {
  display: flex;
}

.content3-ec-cnt {
  width: 50%;
  padding-left: 40px;
}

.content3-echart-cnt2 {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.content3-echart-cnt2p {
  width: 100px;
  font-weight: 600;
}

.content3-echart-cnt2p:nth-child(1) {
  font-size: 16px;
  color: gray;
  font-weight: bold;
}

.content3-echart-cnt2p:nth-child(2) {
  font-weight: bold;
  color: gray;
  font-size: 16px;
}

.content3-echart-cnt-p1 {
  color: gray;
  font-size: 16px;
  font-weight: bold;
}

.content3-ec-cnt {
  color: black;
  font-weight: 500;
}

.left-y {
  width: 20px;
  height: 20px;
  background: rgb(218, 189, 24);
  border-radius: 50%;
  margin-right: 10px;
  margin-left: -30px;
  display: inline-block;
}

.right-y {
  width: 20px;
  height: 20px;
  background: #3a13c5;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: -30px;
}

.blk {
  color: black !important;
}

.ant-dropdown-link {
  color: #3a13c5;
  font-weight: bold;
}

.ant-dropdown-link:hover {
  color: #3a13c5;
}

.content3-right-p {
  max-width: 500px;
  color: black;
  line-height: 20px;
  font-size: 18px;
  padding: 15px 0 0 0;
}

.content3-right-p2 {
  max-width: 500px;
  color: black;
  line-height: 20px;
  margin-top: 30px;
  font-size: 18px;
  padding: 15px 0 0 0;
}

.content3-p-s {
  font-size: 20px;
  color: black;
  max-width: 450px;
}

.content3-span-left {
  width: 30px;
  height: 2px;
  background: #3a13c5;
  box-sizing: border-box;
  display: inline-block;
  margin-right: 15px;
}

.content3-span-right {
  width: 30px;
  height: 2px;
  background: rgb(218, 189, 24);
  display: inline-block;
  margin-left: 30px;
  margin-right: 10px;
  box-sizing: border-box;
}

.blue-a {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgb(64, 137, 233);
  display: inline-block;
  margin-left: 30px;
  margin-right: 10px;
  box-sizing: border-box;
}

.content3-as {
  font-size: 20px;
  color: black;
  max-width: 450px;
}

.content3-list-ims {
  width: 30px;
  height: 2px;
  background: #9313c5;
  box-sizing: border-box;
  display: inline-block;
  margin-right: 15px;
}

.content3-list-4 {
  width: 30px;
  height: 2px;
  border-bottom: dashed 3px darkgray;
  display: inline-block;
  margin-right: 10px;
  box-sizing: border-box;
}

.content3-list-im {
  width: 30px;
  height: 10px;
  border-radius: 2px;
  background: rgb(64, 137, 233);
  opacity: 0.5;
  display: inline-block;
  margin-right: 10px;
  box-sizing: border-box;
}

.content3-list-im2 {
  width: 30px;
  height: 10px;
  border-radius: 2px;
  background: rgb(238, 232, 143);
  opacity: 0.5;
  display: inline-block;
  margin-left: 45px;
  margin-right: 10px;
  box-sizing: border-box;
}

.content3-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
}

.content3-ul li {
  display: flex;
  justify-content: space-between;
  padding: 6px 0;
}

.content3-ul li span {
  color: black;
}

.content4 {
  padding: 10px;
}

.content5 {
  padding: 10px;
  padding-bottom: 50px;
  border-bottom: 2px rgb(230, 227, 227) solid;
}

.content4-lists {
  display: flex;
  border-bottom: 2px #e6e3e3 solid;
  padding-bottom: 50px;
}

.content4-list {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.content4-cnt-a {
  width: 50%;
}

.content4-cnt-b {
  width: 50%;
}

.content4-ul {
  list-style: none;
  padding: 0;
  color: black;
}

.content-title-a {
  display: flex;
  justify-content: space-between;
}

.content-title-a p {
  width: 50%;
}

.content4-ul li {
  border-bottom: solid 1px rgb(206, 203, 203);
  width: 180px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 10px;
}

.content4-listb {
  width: 40%;
  margin-left: 110px;
}

.content4-downlod-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: black;
}

.downIcon {
  width: 28px;
  height: 28px;
  margin: 10px 15px 0 -5px;
}

.downLoadIcon {
  width: 28px;
  height: 28px;
  margin-left: 25px;
}

.content5-lists {
  display: flex;
}

.content5-lists-left {
  max-width: 520px;
}

.content5-lists-right {
  width: 50%;
}

.content5-list-ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.content5-list-ul li {
  list-style: none;
  min-width: 240px;
}

.content5-list-ul li p {
  color: black;
  font-weight: bold;
}

.content5-lists-right-ul {
  list-style: none;
  padding: 0;
  width: 60%;
}

.content5-lists-right-ul li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.content5-lists-right-ul li span {
  color: black;
}

.check-circle {
  font-size: 20px;
  margin-left: 10px;
  color: #3a13c5;
  vertical-align: middle;
}

.close-circle {
  font-size: 20px;
  color: rgb(158, 157, 157);
  margin-left: 10px;
  vertical-align: middle;
}

.gooleMap {
  width: 400px;
  height: 100px;
  border-radius: 5px;
}

.content6-cnt {
  display: flex;
  flex-wrap: wrap;
}

.content6-cnt-left {
  width: 50%;
}

.content6-p {
  color: black;
}

.content6-ul {
  list-style: none;
  padding: 0;
  max-width: 400px;
}

.content6-ul li {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  color: gray;
}

.content6-ul li span {
  color: black;
}

.content6-cnt-right {
  width: 50%;
}

.content6-span-a {
  width: 30px;
  height: 2px;
  background: #13c5a7;
  box-sizing: border-box;
  display: inline-block;
  margin-right: 15px;
}

.content6-span-b {
  width: 30px;
  height: 2px;
  background: #3a13c5;
  box-sizing: border-box;
  display: inline-block;
  margin-right: 15px;
}

.content6-span-c {
  width: 30px;
  height: 2px;
  background: #dfaa17;
  box-sizing: border-box;
  display: inline-block;
  margin-right: 15px;
}

.content8 {
  background: rgba(177, 174, 174, 0.2);
  padding: 20px;
}

.right-content8-h2 {
  padding: 50px 0;
  font-weight: bold;
}

.content8-cnt {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1075px;  
}

.information {
  max-width: 520px;
  width: 49%;
  height: 200px;
  border-radius: 10px;
  background: white;
  margin-bottom: 30px;
}

.content8-Img {
  width: 200px;
  height: 100%;
  border-radius: 10px 0 0 10px;
  float: left;
}

.content8-right {
  float: left;
  color: black;
  padding: 10px 0 0 20px;
}

.content8-right p {
  padding: 0;
  margin: 0;
}

.content8-p1 {
  font-size: 24px;
}

.content8-span {
  font-size: 12px;
}

.content8-p2 {
  padding-bottom: 10px !important;
}

.content8-p5 {
  color: gray;
  padding-top: 35px !important;
}

.portfolio-bottom-div2 {
  width: 138%;
  height: 5px;
  background: rgb(206, 204, 204);
  position: relative;
  left: -20px;
  bottom: -10px;
  border-radius: 0 0 10px 0;
}